<!DOCTYPE html>
<html>
<head>
  <title>GPTDetective</title>
  <link rel="stylesheet" href="static/main.css">
</head>
<body>
  <div id="divfix">  
    <button onclick="luz()">
      <p style="font-size:25px">&#128161;</p>
    </button>
    <script src="../static/luz.js"></script>
  </div>
  <div>
    <img id="logo" src="{{url_for('static', filename='images/logo.png')}}" alt="Logo de GPTDetective">
  </div>
  <h1>Ingresa el texto</h1>
  <div>
  <textarea id="ensayo" placeholder="Ingrese aquí el texto a analizar..." rows="10" cols="50"></textarea><br>
  <p>(Maxima fiabilidad para textos entre 1 y 2 páginas)</p>
  </div>
  <button onclick="obtenerResultados()">Obtener Resultados</button>
  <div id="divTexto" style="display:none">
    <h1>GPTDetective ha concluido que…<h1>
    <p id="outputText"></p>
  </div>
  <div id ="imagenes">
    <div id="Imagen1" style="display:none">
      <img style="max-width: 450px; max-height: 300px" id="outputImage1" src="{{url_for('static', filename='images/medidor0001.png')}}" alt="Imagen de salida">
      <br>
      <p id="imageText1">Este ensayo tiene un nivel ALTO de características GPT. Dada su cohesión, su manera de unir ideas y la terminología utilizada hace explícito que este texto fue extraído utilizando un modelo de lenguaje avanzado. Es de tener en cuenta que este ensayo fue revisado de manera nula o superficial después de haber sido generado por el chatbot. Por lo tanto, conociendo de la manera que funciona ChatGPT, esto puede conllevar un alto nivel de plagio o, por otro lado, puede que el trabajo escrito sea falso y/o errado. 
        Se recomienda rechazar el ensayo.        
        </p>
    </div>
    <div id="Imagen2" style="display:none">
      <img style="max-width: 450px; max-height: 300px" id="outputImage2" src="{{url_for('static', filename='images/medidor0002.png')}}" alt="Imagen de salida">
      <br>
      <p id="imageText2">Este ensayo tiene un nivel MEDIO/ALTO de características GPT. Puede tratarse de un texto generado por un modelo de texto al que se le retiraron o modificaron algunas inflexiones del idioma. En caso de tratarse de un correo electrónico o similar, se considera una calidad aceptable. Sin embargo, si se habla ahora de un paper importante o un texto universitario, carece de la originalidad y el esfuerzo necesario para hacer un trabajo sobresaliente.
        Se recomienda rechazar el ensayo o solicitar que sea mejorado.
        </p>
    </div>
    <div id="Imagen3" style="display:none">
      <img style="max-width: 450px; max-height: 300px" id="outputImage2" src="{{url_for('static', filename='images/medidor0003.png')}}" alt="Imagen de salida">
      <br>
      <p id="imageText2">Este ensayo tiene un nivel MEDIO de características GPT. Puede tratarse de una persona con un tipo de redacción cruda o un texto generado por un modelo de lenguaje, mejorado posteriormente por un humano. Por lo mismo, se recomienda manejar con precaución. A este nivel no se puede concluir rotundamente que este texto haya sido creado utilizando un chatbot. Sin embargo, esto no significa que su contenido sea de alta calidad. Este indicador podría ser síntoma de la necesidad de la mejora en la coherencia, cohesión y redacción del texto. Es importante recordar que usar modelos de lenguaje para crear una plantilla no es necesariamente malo. De hecho, puede ser que esto ahorre tiempo y que ayude a obtener una estructura más concisa a la hora de redactar. 
        Se recomienda solicitar que el ensayo sea mejorado o que sea aceptado.</p>
    </div>
    <div id="Imagen4" style="display:none">
      <img style="max-width: 450px; max-height: 300px" id="outputImage3" src="{{url_for('static', filename='images/medidor0004.png')}}" alt="Imagen de salida">
      <br>
      <p id="imageText3">Este ensayo tiene un nivel BAJO de características GPT. Su escritura es coherente y tiene un tipo de redacción fluida. Por lo mismo, así en algún momento se haya usado un chatbot para generar una plantilla, esta fue posteriormente leída, modificada y mejorada, dándole un toque más humano y evite los posibles errores que estos sistemas puedan inyectar al ensayo. O, por otro lado, puede que haya sido hecho en un ciento por ciento por un humano. Cualesquier sea el caso, la redacción del texto es aceptable.
        Se recomienda aceptar el ensayo. 
        </p>
    </div>
  </div>

  <script src="static/main.js"></script>

  
</body>
</html>